<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Categories</h1>
    {% for category in object_list %}
        <div>
            <ul>
                {{ category.category_name }} {{ category.category_colour }} {{ category.date_created }}
            </ul>
        </div>
    {% empty %}
    <p>No categories found.</p>
    {% endfor %}

    

    
</body>
</html>