<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block context %}

        <h1>Latest Tasks</h1>
        
        {% for task in task_list %}
            <div>
                <ul>
                    {{ task.title }}
                </ul>
            </div>
        {% endfor %}


        <h1>Latest Categories</h1>

        {% for category in category_list %}
            <div>
                <ul>
                    {{ category.category_name }}
                </ul>
            </div>
        {% endfor %}



    {% endblock %}
</body>
</html>