@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Merriweather:ital,wght@1,700&family=Vazirmatn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');



body {
    background-color: #6B81D0;

}


.background-image {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

    width: 1300px;
    

}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}




ul {
    list-style-type: none;
}




.nav-options ul li a {
    z-index: 0;
    color: white;
    font-size: 20px;
    font-family: Vazirmatn;
    font-weight: 800;
    word-wrap: break-word;
    
    display: inline-block;
    padding: 0px;

    transition: all 0.3s ease 0s;
}


.nav-options ul li a:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: underline;
}







#logo {
    z-index: 1;
    color: white;
    font-size: 80px;
    font-family: Jomhuria;
    font-weight: 400;
    word-wrap: break-word; 
    cursor: pointer;
}


a {
    text-decoration: none;
}




.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.user-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.card-container {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
  
 
  
  .card-image {
    max-width: 100%;
    flex-basis: 40%
  }
  

  .card-text {
    color: white;
    padding-bottom: 70px;
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
  }


.account-buttons {
    box-shadow: inset 0 0 10px #000000;
}



.form-container {
    background-color: #4AAAED;
    padding-top: 3%;
    margin-top: 10%;
    margin-left: 30%;
    height: 530px;
    width: 500px; /* Adjust this value to change the width of the form */
    border: 1px solid white; /* Add a border around the form */
    padding: 22px; /* Add some padding inside the container */
}

.login-form-container {
    background-color: #4AAAED;
    padding-top: 5%;
    margin-top: 10%;
    margin-left: 30%;
    height: 400px;
    width: 500px; /* Adjust this value to change the width of the form */
    border: 1px solid white; /* Add a border around the form */
    padding: 22px; /* Add some padding inside the container */
}


.form-field {
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; /* Add some space between fields */
    margin-left: 100px;
}

.signup-button {
    background-color: #0076b5; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Pointer/hand icon on hover */
 
    height: 50px;
    width: 150px;

    margin-left: 185px;

    
}


.login-button {
    background-color: #0076b5; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Pointer/hand icon on hover */
 
    height: 50px;
    width: 150px;

    margin-left: 185px;

    
}


.login-button:hover {
    box-shadow: inset 0 0 7px #000000;
}


.have-account {
    background-color: #551D1D; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 5px 20px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Pointer/hand icon on hover */
 
    height: 40px;
    width: 110px;

    margin-left: 185px;
    margin-bottom: 10px;

    
}


.have-account:hover {
    box-shadow: inset 0 0 7px #000000;
}



.gmail-account {
    background-color: #DA70D6; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 5px 20px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Pointer/hand icon on hover */
 
    height: 40px;
    width: 110px;

    margin-left: 185px;
    margin-bottom: 10px;

    
}


.gmail-account:hover {
    box-shadow: inset 0 0 7px #000000;
}




.no-account {
    background-color: #551D1D; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 5px 20px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Pointer/hand icon on hover */
 
    height: 40px;
    width: 110px;

    margin-left: 185px;
    margin-bottom: 10px;

    
}


.no-account:hover {
    box-shadow: inset 0 0 7px #000000;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.cityfield {
    width: 400px;
}

.todo-task-field {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.todo-category-field {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}